body
{
    background: rgb(248, 225, 185);
}
.link
{
    color : rgb(0, 0, 0);
}
.link:hover
{
    color:rgb(248, 225, 185);
    text-decoration-color:rgb(248, 225, 185);
}
h1, h2
{
    color: rgb(248, 225, 185);
    padding: 5px;
    position: relative;
    left: 70px;
    top: 40px;
}
 #top
 {
    border-radius: 25px;
    background-color: rgb(38, 22, 22);
    height: 200px;
    float: top;
 }
  #right
 {
    background-color: rgb(197, 157, 77);
    border-radius: 25px;
    float: right;
    height: 2000px;
    width: 450px;
    padding-left: 50px;
    padding-top: 50px;
 }
  #left
 {
    float: left;
    height: 2000px;
    width: 500px;
    padding-left: 40px;
    padding-top: 10px;
 }
  .block
  {
    position: relative;
  }
  #table
  {
    padding-left: 20px;
  }
  #precode
  {
    padding-top: 1px;
    padding-left: 30px;
    margin: 10px;
  }
  #img
  {
    height: 400px;
    width: 400px;
    padding-bottom: 20px;
  }
  #education
  {
    border-style: outset;
    border-color: rgb(0, 0, 0);
    border-radius: 20px;
    width: 200px;
    margin: 10px;
  }
  #skills
  {
    border-style: outset;
    border-color: rgb(0, 0, 0);
    border-radius: 20px;
    width: 200px;
    margin: 10px;
  }
  #english
  {
    border-style: outset;
    border-color: rgb(0, 0, 0);
    border-radius: 20px;
    width: 200px;
    margin: 10px;
  }
  #czech
  {
    border-style: outset;
    border-color: rgb(0, 0, 0);
    border-radius: 20px;
    width: 200px;
    margin: 10px;
  }
  #work
  {
    border-style: outset;
    border-color: rgb(0, 0, 0);
    border-radius: 20px;
    width: 200px;
    margin: 10px;
  }
  #code
  {
    border-style: outset;
    border-color: rgb(0, 0, 0);
    border-radius: 20px;
    width: 200px;
    margin: 10px;
  }
  #contact
  {
    border-style: outset;
    border-color: rgb(0, 0, 0);
    border-radius: 20px;
    width: 200px;
    margin: 10px;
  }
  #about
  {
    border-style: outset;
    border-color: rgb(0, 0, 0);
    border-radius: 20px;
    width: 200px;
    margin: 10px;
  }